#board-body {
    label {
        width: 25%;
        text-align: center;
        align-self: center;
    }
    input,
    textarea,
    select {
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    div {
        .field_with_errors {
            &:nth-child(1) {
                width: 25%;
                text-align: center;
                align-self: center;
                label {}
            }
            &:nth-child(2) {
                width: 100%;
                input,
                textarea,
                select {
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}