.editor {
    min-height: 6rem;
} //
input[name^="card[test_code]"],
#test_code {
    color: #4287CB;
    padding: .2rem;
    font-family: monospace;
}

input[name^="card[hints]"],
input[name^="card[test_code]"] {
    border: 1px solid #ddd;
    display: block;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

.part-carts-list section a.active {
    background-color: #f1f1f1;
}

.editor.readonly * {
    cursor: auto;
}

.btn-edit,
.btn-del,
.btn-add {
    font-size: 20px;
    margin: 0 0.2px
}

// .part-btns.hover .fa {
//     display: none;
// }
// section.one-card a {
//     &:hover+.part-btns.hover i.fa {
//         display: inline-block;
//     }
// }