.editor {
    min-height: 6rem;
} //
input[name^="card[test_code]"],
#test_code {
    color: #4287CB;
    padding: .2rem;
    font-family: monospace;
}

input[name^="card[hints]"],
input[name^="card[test_code]"] {
    display: block;
}

input[name^="card[test_code]"] {
    border: 1px solid #ddd;
}

input[name^="card[hints]"] {
    border-bottom: 1px solid #ddd;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

.part-carts-list section a.active {
    background-color: #f1f1f1;
}

.editor.readonly * {
    cursor: auto;
}

.btn-edit,
.btn-del,
.btn-add {
    font-size: 1.5rem;
    margin: 0 0.2px
}

#card-description {
    white-space: pre-line;
}

.part-btns {
    right: 2rem;
}

.part-btns.hover {
    display: none;
}

section.one-card:hover .part-btns.hover {
    display: inline-block;
}

#part-card-content {
    padding: .5rem 4rem 2rem 4rem;
}

#section-test-code,
#section-hints {
    p {
        display: flex;
    }
    p span {
        width: 2rem;
        display: inline-block;
        text-align: center;
    }
    input {
        flex-grow: 1;
    }
}

#btn-add-test-code,
#btn-add-hints,
span[id^="btn-del"] {
    position: absolute;
    margin-left: -2rem;
}

.editor.ace_editor {
    border: 1px solid #ddd;
}

#card_level option:first-child {
    display: none;
}

#part-test-run {
    #section-test-code {
        .test-item:first-child:last-child #btn-del-test-code {
            display: none;
        }
    }
}