#tab-sign-in-up {
    ul li a.active {
        background-color: white;
        border-bottom: 1px solid white;
    }
}

.devise-form {
    input[placeholder] {
        padding-left: 2.4rem;
    }
    input[type="submit"] {
        background-color: $color-btn-main;
        font-size: 1rem;
        color: #fff;
        &:hover {
            background-color: $color-btn-main-100;
        }
    }
    span.item-icon {
        position: absolute;
        align-self: center;
        font-size: 1.2rem;
        padding-left: .5rem;
        color: #888;
        width: 2rem;
        text-align: center;
    }
}

// edit profile
.edit-profile-img-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: auto;
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}