.editor {
    min-height: 6rem;
}

#editorRubyTest {
    min-height: 2rem;
}

#editorRubyAnswer {
    min-height: 6rem;
}

#run-result {
    width: 100%;
    background: black;
    color: #fff;
    min-height: 3rem;
    font-size: .9rem;
}