<h1 class="semibold text-2xl">Welcome to CodeBoard</h1>
<p class="lead">Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>
<%= link_to '我的Board', boards_path %>
