<div class="container max-w-full my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-col">
    <div class="my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle block min-w-full shadow overflow-hidden sm:rounded-lg ">
        <div class="bg-white mb-4 border-b px-4 py-5 sm:px-6">
          <h3 class="text-2xl leading-6 font-medium text-gray-900 ">
            Borads
          </h3>
        </div>

        <!-- <div class="flex-1  flex-grow items-center  mb-8 lg:flex  lg:content-center lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 z-20" id="nav-content">
          <div class="flex justify-center items-center w-full mx-auto max-w-sm content-center">
            <div class="relative w-full border-none">
              <select class="bg-gray-100 text-gray-400 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full">
                  <option>GET</option>
                  <option>POST</option>
                  <option>PUT</option>
                  <option>DELETE</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
              </div>      
            </div>
          </div>
          <div class="flex-1  mx-auto max-w-sm content-center py-4 lg:py-0">
            <div class="relative pull-right pl-4 pr-4 md:pr-0">
              <input type="search" placeholder="Search" class="w-full bg-gray-100 text-sm text-gray-800 transition border focus:outline-none focus:border-purple-500 rounded py-1 px-2 pl-10 appearance-none leading-normal">
              <div class="absolute search-icon" style="top: 0.375rem;left: 1.75rem;">
                <svg class="fill-current pointer-events-none text-gray-800 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                </svg>
              </div>
            </div>
          </div>

          <ul class="list-reset flex justify-start items-center ">
            <li class="mr-3 py-2 lg:py-0">
              <div class="flex justify-between items-center">
                <label class="text-gray-700 text-sm md:mr-6" for="beginner">
                  <input type="checkbox" name="beginner" id="beginner" class="mx-2" >
                  Beginner
                </label>
              </div>
            </li>
            <li class="mr-3 py-2 lg:py-0">
              <div class="flex justify-between items-center">
                <label class="text-gray-700 text-sm md:mr-6" for="medium">
                  <input type="checkbox" name="medium" id="medium" class="mx-2">
                  Medium
                </label>
              </div>
            </li>
            <li class="mr-3 py-2 lg:py-0">
              <div class="flex justify-between items-center">
                <label class="text-gray-700 text-sm md:mr-6" for="advanced">
                  <input type="checkbox" name="advanced" id="advanced" class="mx-2">
                  Advanced
                </label>
              </div>
            </li>
          </ul>

          
        </div> -->
        <nav class="bg-white shadow">
          <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="flex justify-between h-16">
              <div class="flex px-2 lg:px-0">
                <div class="flex justify-center items-center w-full mx-auto max-w-sm content-center">
                  <div class="relative w-full border-none">
                    <select class="bg-gray-100 text-gray-600 appearance-none border inline-block py-3 pl-3 pr-8 rounded leading-tight w-full">
                        <option>Beginner</option>
                        <option>Mdeium</option>
                        <option>Advanced</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </div>      
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-start px-2 lg:ml-6 lg:justify-end">
                <div class="max-w-lg w-full lg:max-w-xs">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <input id="search" class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out" placeholder="Search" type="search" />
                  </div>
                </div>
              </div>
              <div class="flex items-center lg:hidden">
                <!-- Mobile menu button -->
                <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
                  <!-- Icon when menu is closed. -->
                  <!-- Menu open: "hidden", Menu closed: "block" -->

                  <!-- Icon when menu is open. -->
                  <!-- Menu open: "block", Menu closed: "hidden" -->

                </button>
              </div>
            </div>
          </div>
        </nav>
        <hr>

        <% @board.each do |board| %>
        <div>
          <div class="my-5 mx-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            <div class="bg-white overflow-hidden shadow rounded-lg">
              <div class="bg-gray-100 px-4 py-5 sm:p-6">
                <div class="flex items-center">
                  <div class="ml-5 w-0 flex-1">
                    <dl>
                      <span class="flex justify-center  px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                    
                      </span>
                      <div class="inline-flex items-center px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                  
                      </div>
                      <div class="inline-flex items-center px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                        Self
                      </div>

                      <dt class="flex justify-start my-4 text-xl leading-5 font-medium text-black font-bold truncate">
                        <%= board.title %>
                      </dt>
                      <hr>
                      <p class="my-4 text-gray-500"><%= board.description %>。</p>
                      <hr>
                      <dd class="flex justify-between items-center mt-5">
                        <div class="flex">
                          <span class="inline-block h-6 w-6 rounded-full overflow-hidden bg-gray-100">
                            <svg class="h-full w-full text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                          </span>
                          <div class="text-xl leading-8 font-semibold text-gray-900">
                            
                          </div>
                        </div>
                        <div class="flex items-baseline">
                          <div class="text-sm leading-5 font-semibold text-green-600">
                            10cards
                            <svg class="inline-flex mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                              <path fill-rule="evenodd" d="M3 5a2 2 0 012-2h6a2 2 0 012 2H5v8a2 2 0 01-2-2V5zm6 2a2 2 0 00-2 2v6a2 2 0 002 2h6a2 2 0 002-2V9a2 2 0 00-2-2H9z" clip-rule="evenodd"/>
                            </svg>
                          </div>
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-4 sm:px-6">
                <div class="flex justify-end items-center text-sm leading-5">
                  <a href="#" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700  hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                    <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                      <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
                    </svg>
                    Edit
                  </a>
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150">
                    Challenge
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <hr>


        <div class="block bg-white px-4 py-3 flex items-center justify-between sm:px-6">
          <div class="flex-1 flex justify-between sm:hidden">
            <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
              Previous
            </a>
            <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
              Next
            </a>
          </div>
          <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
              <p class="text-sm leading-5 text-gray-700">
                Showing
                <span class="font-medium">1</span>
                to
                <span class="font-medium">10</span>
                of
                <span class="font-medium">97</span>
                results
              </p>
            </div>
            <div>
              <nav class="relative z-0 inline-flex shadow-sm">
                <button type="button" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous">
                  <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
                  </svg>
                </button>
                <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  1
                </button>
                <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  2
                </button>
                <button type="button" class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  3
                </button>
                <span class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700">
                  ...
                </span>
                <button type="button" class="hidden md:inline-flex -ml-px relative items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  8
                </button>
                <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  9
                </button>
                <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                  10
                </button>
                <button type="button" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                  <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                  </svg>
                </button>
              </nav>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
