<h1>Boards List</h1>

<% @board.each do |board| %>
<ul>
  <li>
    <%= link_to board.title, board_path(board.id) %>
    | <%= link_to '編輯', edit_board_path(board.id) %>
    | <%= link_to '刪除', board_path(board.id), method: 'delete' %>
  </li>
</ul>
<% end %>

<%= link_to '新增 Board', new_board_path %>