<div id="page-board-list" class="container-full bg-white px-6 py-4">

  <div id="part-borard-info" class="w-full">
    <%= render "cards/banner_board_info" %>
  </div>

  <div class="flex w-full">

    <div id="part-cards-list" class="w-full m-auto m-0 pb-12">
      <%= render "cards/nav_cards_list", nowCard: ''  %>
    </div>

  </div>

</div>