@tailwind base;
@tailwind components;
@tailwind utilities;
// Custom SCSS
@import "components/buttons";
@import "components/forms";
@import "layout/layout";
@import "pages/devise";
@import "pages/boards";
@import "pages/cards";
@import "pages/profile";
@import "boards/_index";