<h1>出題者-檢視頁</h1>
<div>
</div>

<div class="grid grid-rows-3 grid-flow-col gap-4">
  <div class="row-span-3 bg-orange-100">
    <%= render "cards/list_questioner" %>

  </div>
  <div class="row-span-1 col-span-2">
    page content
  </div>

  <div class="row-span-2 col-span-2">
  
  </div>

</div>


