<p class="test-item flex">
  <span class="numTestCode"><%= num %></span>
  <input name="card[test_code][]" class="w-full" value="<%= test_code %>">
  <span id="btn-del-test-code">
    <i class="fa fa-minus-circle hover:text-red-700 text-red-500 rounded-full text-2xl"></i>
  </span>
  <% num = num + 1 %>
</p>