<p class="hint-item"">
  <span id="btn-del-hint">
    <i class="fa fa-minus-circle hover:text-red-700 text-red-500 rounded-full text-2xl"></i></span>
  <span class="numHint"><%= num %></span>
  <input name="card[hints][]" value="<%= hint %>">
  <% num = num + 1 %>
</p>