<p class="test-item">
  <span id="btn-del-test-code">
    <i class="fa fa-minus-circle hover:text-red-700 text-red-500 rounded-full text-2xl"></i></span>
  <span class="numTestCode"><%= num %></span>
  <input name="card[test_code][]" value="<%= test_code %>">
  <% num = num + 1 %>
</p>