<div class="part-board border-b py-3"> 
  <p class="text-xl text-gray-900"><%=@board.title%></p>
  <!--ToDo:Board.username-->
  <p class="text-s text-gray-600"><%=@board.description%></p>
</div>
<div class="part-carts-list">
  <div class="">
    <% @board.cards.each do |card| %>
      <p class="flex w-100">
       <span class="py-4 border-b w-12 m-0 p-0 text-blue-500 px-2 text-center"><%= card.order %></span>
       <%= link_to card.title, board_card_path(@board.id, card.id), 
                       class: 'border-b block w-full text-blue-700 hover:text-blue-500 hover:bg-gray-200 py-4 px-3' %>
      </p>
    <% end %>
  </div>
</div>