      <option value="array">array</option>
      <option value="object">object</option>
      <option value="number">number</option>
      <option value="string">string</option>
      <option value="each">each</option>