<%= form_with model: @card, url: board_card_path, method: :patch , local: true do |f| %>

  <div class="flex container">

    <div class="part-slider w-1/4 border-r">
      <%= render "cards/nav_cards_list", nowCard: '' %>
    </div>

    <div class="part-card px-4 w-3/4">
      <h1 class="text-gray-900 font-bold text-xl border-b">編輯 Card</h1>
      <%= render 'form', model: @card, url: board_card_path, order: Card.count %>
    </div>
  </div>

<% end %>

