<%= form_with model: @card, url: board_card_path, method: :patch , local: true do |f| %>

  <div id="page-edit" class="container-full">

    <div id="part-borard-info" class="w-full">
        <%= render "cards/banner_board_info" %>
    </div>

    <div class="flex w-full">

      <div id="part-cards-list" class="w-1/4 m-0 pb-12">
        <%= render "cards/nav_cards_list", nowCard: @card.id %>
      </div>

      <div id="part-card-content" class="w-3/4 m-0 pb-12">
        <%= render 'form', model: @card, url: board_cards_path  %>
      </div>

    </div>

<% end %>