<%= form_with model: @card, url: board_cards_path, local: true do |f| %>

  <div id="page-new" class="container-full">

    <div id="part-borard-info" class="w-full">
        <%= render "cards/banner_board_info" %>
    </div>

    <div class="flex w-full">

      <div id="part-cards-list" class="w-1/4  m-0 pb-12 border-r">
        <%= render "cards/nav_cards_list", nowCard: '' %>
      </div>

      <div id="part-card-content" class="w-3/4 m-0 m-auto pb-12">
        <%= render 'form', model: @card, url: board_cards_path  %>
      </div>

    </div>

<% end %>