<h1 class="text-gray-900 font-bold text-xl border-b">新增 Card</h1>

<%= render 'form', model: @card, url: board_cards_path %>

<%# <script>
  $(document).ready(function() {
    $(".tags").select2({
      tags: true;
    });
  });
</script> %>