$color-main:#5967D8;
$color-main-sub:#8893E3;
$color-layout-bg:#F3F3F7;
$color-nav-bg:#222;
$color-nav-text:white;
$color-nav-text-hover:white;
body {
    background-color: $color-layout-bg;
}

#nav {
    a {
        color: $color-nav-text;
    }
}

#nav-content {
    ul li a {
        color: $color-nav-text;
        &:hover {
            color: $color-nav-text-hover
        }
    }
}