// 主色
$color-main:#3c89B4;
$color-main-sub:#2b6cb0;
// 輔色
$color-contrast:#FF5733;
$color-layout-bg:#eee;
// $color-nav-bg:#4A235A;
// 基礎色
$color-nav-text:white;
$color-nav-text-hover:white;
// 按鈕色
$color-btn-main:#2b6cb0;
$color-btn-main-100:#3182ce;
$color-btn-sub:white;
body {
    overflow: hidden;
    background: $color-layout-bg;
    padding-top: 3rem;
}

main {
    overflow: auto;
    height: calc(100vh - 3rem);
    .container {}
}

#nav {
    // background: $color-nav-bg;
    overflow: hidden;
    height: 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    a {
        color: $color-nav-text;
    }
}

#nav-content {
    ul li a {
        color: $color-nav-text;
        &:hover {
            color: $color-nav-text-hover
        }
    }
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

div[id^="page"] {
    background: white;
}

// navbar
#nav-user-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}